@if (images.Any())
{
    if (ChildContent != null)
    {
        <p>@ChildContent</p>
    }

    <Virtualize Items="@images" Context="image">
        <ItemContent>
            <ImageView image="image" ShowUsername="ShowUsername" ShowControll="ShowControll" />
        </ItemContent>
        <Placeholder>
            <p>Caricamento immagine in corso...</p>
        </Placeholder>
    </Virtualize>
}
else
{
    <p>Nessuna immagine caricata</p>
}

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public List<ImageDTO> images { get; set; }
    [Parameter]
    public bool ShowUsername { get; set; } = true;
    [Parameter]
    public bool ShowControll { get; set; } = false;
}

