@page "/friends"
@inject SFClient sfClient
@attribute [Authorize]

<PageTitle>I tuoi amici | SocialFood</PageTitle>

<h1>I tuoi amici (@friends.Count())</h1>

<UsersList Users="friends"/>

@*<label for="name">Username:</label>
    <input type="text" id="name" value="@username" @oninput="(e) => UsernameChanged(e.Value.ToString())" />*@

<h5>Aggiungi amico</h5>
<EditForm Model="user" OnSubmit="FindUsers">
    <label for="username">Username:</label>
    <InputText id="username" @bind-Value="user.Username" />
    <button type="submit" class="btn btn-primary">Cerca</button>
</EditForm>
@if (!userFound)
{
    <h6 class="text-danger">Account trovati: 0</h6>
}
else
{
    int userCount = users.Count();
    if (userCount > 0)
    {
        <h6 class="text-success">Account trovati: @userCount</h6>
        <UsersList Users="users"/>
    }
}

@code {
    List<UserDTO> friends = new();
    bool userFound = true;
    List<UserDTO> users = new();

    DummyUser user = new();

    protected override async Task OnInitializedAsync()
    {
        friends = await sfClient.GetMyFriendsAsync();
    }

    async void FindUsers()
    {
        users = await sfClient.GetUserByUsername(user.Username);
        userFound = users.Any();
        StateHasChanged();
    }

    class DummyUser
    {
        public string Username { get; set; } = string.Empty;
    }
}

