@page "/fetchdata"
@inject HttpClient HttpClient
@attribute [Authorize]

<PageTitle>Trova | SocialFood</PageTitle>

<h1>Cerca amici</h1>

<p>This component demonstrates fetching data from the server.</p>


@*<label for="name">Username:</label>
<input type="text" id="name" value="@username" @oninput="(e) => UsernameChanged(e.Value.ToString())" />*@


<EditForm Model="user" OnSubmit="FindUsers">
    <label for="username">Username</label>
    <InputText id="username" @bind-Value="user.Username" />
    <button type="submit" class="btn btn-primary">Cerca</button>
</EditForm>

@foreach (var user in users)
{
    <ul>
        <li>@user.Username</li>
    </ul>
}

@code {
    private User user = new();

    private List<UserDTO> users = new();

    async void FindUsers()
    {
        var url = $"/api/Account/finduser/{user.Username}";
        var responseMessage = await HttpClient.GetAsync(url);
        if (responseMessage.IsSuccessStatusCode)
        {
            users = await responseMessage.Content.ReadFromJsonAsync<List<UserDTO>>();
        }
        else
            users = new();
    }

    class User
    {
        public string Username { get; set; } = string.Empty;
    }
}

