@page "/"
@attribute [Authorize]
@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <h2>Bentornato, @context.User.GetFirstName()!</h2>
</AuthorizeView>


Ecco quello che è successo mentre non c'eri


@code{

}
