@page "/registration"
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager


<h3>Registrazione</h3>

@if(responseMessage != null && !responseMessage.IsSuccessStatusCode)
 {
    <p style="color:red;">Le credenziali inserite non sono corrette</p>
 }

<EditForm Model="user" OnSubmit="HandleLogin">
    <label for="nome">Nome</label>
    <InputText id="nome" @bind-Value="user.FirstName" />
    <label for="cognome">Cognome</label>
    <InputText id="cognome" @bind-Value="user.LastName" />
    <label for="username">Username</label>
    <InputText id="username" @bind-Value="user.Username" />
    <label for="password">Password</label>
    <InputText id="password" @bind-Value="user.Password" type="password" />
    <button type="submit" class="btn btn-primary">Registrati</button>
</EditForm>


@code {
    RegistrationRequest user = new();
    HttpResponseMessage? responseMessage;

    async Task HandleLogin()
    {
        responseMessage = await HttpClient.PostAsJsonAsync("api/Auth/registration", user);
        if(responseMessage.IsSuccessStatusCode)
        {
            var authResponse = await responseMessage.Content.ReadFromJsonAsync<AuthResponse>();
            var token = authResponse.AccessToken;
            await LocalStorage.SetItemAsync("token", token);
            await AuthStateProvider.GetAuthenticationStateAsync();
        }
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        string token = await LocalStorage.GetItemAsStringAsync("token");
        if (!string.IsNullOrEmpty(token))
        {
            NavigationManager.NavigateTo("/");
        }
        base.OnAfterRender(firstRender);
    }
}
